/App.config
/.vs/
/bin/
/obj/
obj/
/Properties/

*.user
*.sln
*.cache
*.zip
*.rar
*.ini

commit-message.txt
*.sfk
旧版汉化/
obj/LunarVeilzhcn.csproj.nuget.dgspec.json
obj/LunarVeilzhcn.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/LunarVeilzhcn.csproj.nuget.dgspec.json
obj/LunarVeilzhcn.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
